<div class="card">

  <div class="card-header">
    <h1 class="text-center">
      About Me
      {% if user.is_superuser %}
      <a href="{% url 'new_about' %}" class="btn btn-primary">
      Add New "About Me"
      </a>
      {% endif %}
    </h1>
  </div>

  <div class="card-body">
    {% for about in abouts %}
    <p class="card-text text-justify">
      {{about.paragraph}}
       {% if user.is_superuser %}
       <a href="#" class="btn btn-primary">Edit</a>
       <a href="#" class="btn btn-danger">Delete</a>
       {% endif %}
    </p>
    {% endfor %}

    <div class="card-header">
      <h5 class="text-center">
        Competencies and Tech Stack
        {% if user.is_superuser %}
        <a href="{% url 'new_skill' %}" class="btn btn-sm btn-primary">
          Add New Skill
        </a>
        {% endif %}
      </h5>
    </div>

    <div class="card-body">
      <ul class="list-group list-group-flush">
        {% for competency in competencies %}
        <li class="list-group-item">
          <span class="col-md-6">
            {{ competency.skill }}
          </span>

          {% if user.is_superuser %}
          <span class="col-md-6">
            <a href="#" class="btn btn-sm btn-primary">Edit</a>
            <a href="#" class="btn btn-sm btn-danger">Delete</a>
          </span>
          {% endif %}
        </li>

        {% endfor %}
      </ul>
    </div>

  </div>

</div>
