<div class="card">
  <div class="card-header">
    <h1 class="text-center">About Me</h1>
  </div>
  <div class="card-body">
    <p class="card-text text-justify">Hello I'm Odedoyin Akindele, a Junior Backend Web
       Developer with less than six months of experience, I'm curently open
       to internships and entry level roles in a company where I would be
       able to put the skills I've acquired to good use for the growth of
       the organization while I learn under the tutelage of worldclass software
       engineers
    </p>

    <div class="card-header">
      <h5 class="text-center">
        Competencies and Tech Stack
      </h5>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Python (Django, Flask)</li>
        <li class="list-group-item">RDBMS (PostgreSQL)</li>
        <li class="list-group-item">NoSQL (MongoDB)</li>
        <li class="list-group-item">Development and Source Control (Docker, Git, Github)</li>
      </ul>
    </div>

  </div>
</div>
