{% extends 'base.html' %}
{% block title %}Odedoyin Akindele - Messages Received{% endblock title %}
{% block content %}
<div class="card">
  <div class="card-header">
      <h5 class="text-center">Messages Received</h5>
  </div>
  <div class="row">
  {% for message in messages %}
    <div class="col-sm-6">

    <div class="card">
      <div class="card-body">
        <h5 class="card-header card-title">{{message.name}} says "{{ message.reason.purpose }}"</h5>
        <p class="card-text">
          Their Exact Message was:
          <br>
          {{message.message}}
          <br>
          You can reach them through this <a href="mailto:{{message.email}}">{{message.email}}</a></p>
      </div>
      <div class="card-footer">
      <small class="text-muted">Message was sent on {{message.date}}</small>
    </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% include "pagination.html" with page=page_obj %}
{% endblock content%}
