<div class="card">
  <div class="card-header">
      <h5 class="text-center">Past Works</h5>
  </div>
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <div class="text-center">
          <a href="#" class="btn btn-primary">View More</a>
          <a href="#" class="btn btn-primary">Github Link</a>
          <a href="#" class="btn btn-primary">Visit the Page</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <div class="text-center">
          <a href="#" class="btn btn-primary">View More</a>
          <a href="#" class="btn btn-primary">Github Link</a>
          <a href="#" class="btn btn-primary">Visit the Page</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
